---
bump: minor
---

KrakenSDR: bank supervisor and verification
