PRODUCT_NAME = SdrmmCore
PRODUCT_BUNDLE_IDENTIFIER = dev.newspicel.sdrmm.core
GENERATE_INFOPLIST_FILE = YES
DEFINES_MODULE = YES
SKIP_INSTALL = YES
DYLIB_INSTALL_NAME_BASE = @rpath
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
SWIFT_VERSION = 5.0
SWIFT_STRICT_CONCURRENCY = minimal
SWIFT_UPCOMING_FEATURE_MEMBER_IMPORT_VISIBILITY = NO
SWIFT_TREAT_WARNINGS_AS_ERRORS = NO
