main a:not(.header) {
  color: #21b0b0;
}

main table {
  display: table;
  width: 100%;
  font-variant-numeric: tabular-nums;
}

main table th {
  text-align: left;
}

main code {
  font-variant-ligatures: none;
}

main pre {
  border-radius: 6px;
}

main blockquote {
  border-left-color: #21b0b0;
}
